.body_bg {
    background-color: #222d32;
}

.panel {
    padding: 0 0;
}

.panel .panel-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.mg_t150 {
    margin-top: 150px;
}

.message {
    position: fixed;
    top: -80px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    color: #a94442;
    opacity: 0;
    /* transition: all .6s; */
}

/* .message.animate {
    top: 60px;
    opacity: 1;
} */